<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur <strong>Verti<span style="color:red">GO!</span></strong></h1>
        <p class="lead">Site communautaire fait <strong>par</strong> et <strong>pour</strong> les amoureux de l'escalade afin de partager leur connaissance des sites.</p>
        <hr class="my-4">
        <p>Vous trouverez sur le site des informations pour choisir vos prochaines sorties en fonction de vos critères personnels. Vous pourrez également réserver des topos fournis par d'autres passionnés.</p>
        <p>Nous vous invitons également à partager vos propres topos afin de faire vivre notre communauté grandissante. </p>
    </div>

    <h1 th:text="#{welcomepage.label.welcome}">Les meilleurs sites du moment...<span
            class="badge badge-secondary">New</span></h1>
    <p>&nbsp;</p>




    <th:block th:each="site : ${sites}">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title" th:text="${site.pays} + ' - ' +  ${site.nom}">FRANCE - Vallée de Chamonix</h5>
                <img class="float-left" th:src="${site.image2}" src="mont-blanc_160x160.jpg" style="padding-right:8px" alt="Card image cap">
                <p class="card-text" th:text="${site.description}">Some quick example text to build on the card title
                    and make up the bulk of the card's
                    content.</p>
                <div>
                    <button type="button" class="btn btn-secondary" style="margin:1px">
                        Hauteur <span th:text="${site.hauteur} + 'm'" class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-secondary"style="margin:1px">
                        Difficulté <span th:text="${site.cotationMin} + ' à ' + ${site.cotationMax}" class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-secondary"style="margin:1px">
                        Nb de voies <span th:text="${site.nbDeVoies}" class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-secondary"style="margin:1px">
                        Orientation <span th:text="${site.orientation}" class="badge badge-light"></span>
                    </button>
                    <a href="#" class="btn btn-primary" th:href="@{site(id=${site.id})}">En savoir plus</a>
                </div>
            </div>
        </div>
        <p/>
    </th:block>


</div>


<!--<div th:replace="footer :: copy"></div>-->

</body>
</html>
