<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">VertiGo!</a>
        <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les Topos</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Se connecter</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="http://example.com" id="dropdown01">Mon compte</a>
                    <div aria-labelledby="dropdown01" class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/logout}">Déconnexion</a>
                        <a class="dropdown-item" href="#">Mon profil</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="http://example.com" id="dropdown01">Administration</a>
                    <div aria-labelledby="dropdown01" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<p>&nbsp;</p>

<div class="container">

    <p>&nbsp;</p>
    <h1 th:text="#{welcomepage.label.welcome}">Les meilleurs sites du moment...<span
            class="badge badge-secondary">New</span></h1>
    <p>&nbsp;</p>

    <div class="logout" sec:authorize="isAuthenticated()" th:fragment="logout">
        Logged in user: <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span>
        <div>
            <form action="#" method="post" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>


    <form action="#" autocomplete="off" id="searchSiteForm" method="get">
        <div class="d-flex flex-wrap" style="width:100%">

            <div class="flex-fill" style="width-min:50px">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="t01">Pays</span>
                    </div>
                    <!--<input class="form-control" id="pays" name="pays" th:value="*{pays}" type="text">-->
                </div>
            </div>

            <div class="flex-fill" style="width-min: 50px">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="t02">Nom du site</span>
                    </div>
                    <!--<input class="form-control" id="site" name="site" th:value="*{site}" type="text">-->
                </div>
            </div>

        </div>
    </form>


    <div class="card" style="width: 100%">

        <div class="card-body">
            <h5 class="card-title">FRANCE - Vallée de Chamonix</h5>
            <img alt="Card image cap" class="float-left " src="mont-blanc_160x160.jpg" style="padding-right:8px">
            <p class="card-text">Juste au-dessus de Menton, Castillon se classe haut la main parmi les sites
                majeurs des Alpes-Maritimes. On y trouve un rocher d’une raideur et d’une qualité
                exceptionnelles, du dévers jusqu’à plus soif, du dur, du dur et du dur, et pour en profiter
                jusqu’au bout, une orientation plein soleil jusqu’à la nuit, ce qui en fait un parfait spot
                d’hiver et de demi-saison. D’autant qu’il est assez fréquenté l’été. Mieux vaut avoir une bonne
                caisse physique pour aller grimper là-bas. Sinon, pas loin, il y a la mer, la plage et les
                parasols. Mais ça serait dommage, parce que même sans grimper, vous pouvez y croiser des vrais
                people de la grimpe internationale!
            <p></p>La paternité de la falaise revient à Axel Franco et Philippe
            Maurel qui y ont ouvert une première ligne (Mortal Kombat) en 1997. Par la suite, d’autres
            talentueux équipeurs y ont ajouté leur signature, pour une œuvre collective de 55 voies du 6b au
            8c+.</p>
            <div>
                <button class="btn btn-grey" type="button">
                    Hauteur <span class="badge badge-light">30m</span>
                </button>
                <button class="btn btn-grey" type="button">
                    Difficulté <span class="badge badge-light">3 à 7a </span>
                </button>
                <button class="btn btn-grey" type="button">
                    Nb de voies <span class="badge badge-light">45</span>
                </button>
                <button class="btn btn-grey" type="button">
                    Orientation <span class="badge badge-light">Sud, Sud-Est</span>
                </button>
                <a class="btn btn-primary" href="#">En savoir plus</a>
            </div>

        </div>


    </div>

    <p/>

    <div class="card" style="width: 100%">
        <img alt="Card image cap" class="card-img-top" src="wadi-rum_jordanie_720x160.jpg">
        <div class="card-body">
            <h5 class="card-title">Jordanie</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" href="#">En savoir plus</a>
        </div>
    </div>

    <p/>

    <div class="card" style="width: 100%">
        <img alt="Card image cap" class="card-img-top" src="turkey_720x160.jpg">
        <div class="card-body">
            <h5 class="card-title">Turquie</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" href="#">En savoir plus</a>
        </div>
    </div>

    <p/>

    <div class="card" style="width: 100%">
        <img alt="Card image cap" class="card-img-top" src="verdon_720x160.jpg" style="padding-right:5px">
        <div class="card-body">
            <h5 class="card-title">Verdon</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" href="#">En savoir plus</a>
        </div>
    </div>

    <p/>


    <div id="mapid" style="height: 25em"></div>
    <script>
        var mymap = L.map('mapid').setView([42.85222, -0.145778], 16);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1Ijoic2d1aW9jaG9uIiwiYSI6ImNqdTloMG85bzI4ZXozeXRhcGsxN3ViYmQifQ.2U8U01gZtia6wln24rIT0g'
        }).addTo(mymap);

        var marker = L.marker([42.85222, -0.145778]).addTo(mymap);
        marker.bindPopup("<b>Le site d'escalade</b>").openPopup();

        function onMapClick(e) {
            alert("You clicked the map at " + e.latlng);
        }

        mymap.on('click', onMapClick);

    </script>


</div>

</body>

</html>