<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>Pour préparer vos prochaines sorties, trouvez le bon topo!</h1>

    <h3>Recherchez par le titre des topos ou les sites qu'ils couvrent:</h3>
    <form autocomplete="off" id="searchTopoForm" method="get" th:action="@{/topos}" th:object="${recherche}">
        <div class="d-flex flex-wrap">
            <div class="flex-fill">
                <div class="input-group" style="min-width: 10em">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="t01">Titre ou description</span>
                    </div>
                    <input class="form-control" id="titre" name="titre" th:value="*{titre}" type="text">
                </div>
            </div>

            <div class="flex-fill">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="t02">Site associé</span>
                    </div>
                    <input class="form-control" id="site" name="site" th:value="*{site}" type="text">
                </div>
            </div>

        </div>
        <h6>&nbsp;</h6>
        <button class="btn btn-primary" type="submit">Rechercher</button>
        <button class="btn btn-secondary" onclick="clearSearchTopoForm()" value="Effacer les critères">Effacer les
            critères
        </button>

        <p>&nbsp;</p>
        <h3 th:if="${topos.size()}==0">Aucun topo ne correspond à ces critères...</h3>

        <nav aria-label="Page navigation " th:if="${nav}!=null">
            <ul class="pagination">
                <li class="page-item">
                    <button class="page-link" name="p" th:type="${nav.previous}==null?'text':'submit'"
                            th:value="${nav.previous}==null?0:${nav.previous.number}"
                            type="submit" value="0">&laquo;
                    </button>
                </li>
                <li class="page-item" th:each="item : ${nav.items}">
                    <button class="page-link" name="p"
                            th:class="${item.isCurrent()}==true?'btn btn-primary':'page-link'"
                            th:text="${item.number}+1" th:value="${item.number}" type="submit"
                            value="1"></button>
                </li>
                <li class="page-item">
                    <button class="page-link" name="p" th:type="${nav.next}==null?'text':'submit'"
                            th:value="${nav.next}==null?0:${nav.next.number}"
                            type="submit" value="1">&raquo;
                    </button>
                </li>
            </ul>
        </nav>

        <div class="d-flex flex-wrap">
            <th:block th:each="topo : ${topos}">
                <div class="card" style="width: 20em; margin: 1em">
                    <div class="card-header">
                        <h5 class="card-title" th:text="${topo.titre}">Titre du livre</h5>
                    </div>
                    <div class="card-body">

                        <div class="d-flex flex-column">
                            <div class="p-2">
                                <img alt="Card image cap" class="float-left" src="topo_1.jpg" style="padding-right:8px; max-width: 120px; max-height: 175px"
                                     th:src="${topo.image1}">
                                <p class="card-text" th:text="${topo.description}">Descritpion du livre</p>
                            </div>
                            <div class="p-2">
                                <div th:if="${topo.sites.size()}!=0">
                                    <h6>Sites associés</h6>
                                    <div class="d-flex" th:each="site : ${topo.sites}">
                                        <div class="mr-autoflex-fill"><span
                                                th:text="${site.pays} + ' - ' + ${site.nom}"></span></div>
                                        <div class="ml-auto"><a class="btn btn-outline-primary btn-sm" href="#"
                                                                th:href="@{site(id=${site.id})}">Voir</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div th:if="${topo.emprunteur}==null">
                                    <div sec:authorize="isAuthenticated()">
                                        <button class="btn btn-primary" data-target="#reservationModal"
                                                data-toggle="modal"
                                                th:data-topoid="${topo.id}" th:data-topotitle="${topo.titre}" type="button">Réserver
                                        </button>
                                    </div>
                                    <div sec:authorize="!isAuthenticated()">
                                        <button class="btn btn-secondary" data-placement="top" data-toggle="tooltip"
                                                title="Connectez-vous pour réserver un topo" type="button">Réserver
                                        </button>
                                    </div>
                                </div>
                                <div th:if="${topo.emprunteur}!=null">
                                    <button class="btn btn-secondary" data-placement="top" data-toggle="tooltip"
                                            title="Ce topoguide est actuellement utilisé par un membre du site" type="button">Déjà réservé
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p/>
            </th:block>
        </div>

        <nav aria-label="Page navigation" th:if="${nav}!=null">
            <ul class="pagination">
                <li class="page-item">
                    <button class="page-link" name="p" th:type="${nav.previous}==null?'text':'submit'"
                            th:value="${nav.previous}==null?0:${nav.previous.number}"
                            type="submit" value="0">&laquo;
                    </button>
                </li>
                <li class="page-item" th:each="item : ${nav.items}">
                    <button class="page-link" name="p"
                            th:class="${item.isCurrent()}==true?'btn btn-primary':'page-link'"
                            th:text="${item.number}+1" th:value="${item.number}" type="submit"
                            value="1"></button>
                </li>
                <li class="page-item">
                    <button class="page-link" name="p" th:type="${nav.next}==null?'text':'submit'"
                            th:value="${nav.next}==null?0:${nav.next.number}"
                            type="submit" value="1">&raquo;
                    </button>
                </li>
            </ul>
        </nav>

    </form>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="reservationModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Réservation du Topo</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="recipient-name" name="id" type="hidden">
                <div class="form-group">
                    <label class="col-form-label" for="message-text">Confirmez-vous la réservation de ce
                        topoguide?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
                <button class="btn btn-primary" onclick="reserverTopo();" type="button">Confirmer</button>
            </div>
        </div>
    </div>
</div>

<script>

    function reserverTopo() {
        var id = $("#reservationModal").find("#recipient-name").val();
        console.log("+++>" + id);
        $.ajax({
            url: 'resa',
            contentType: 'application/json',
            dataType: 'text',
            data: id,
            type: 'POST',
            error: function () {
                console.log("erreur....")
            },
            success: function (result) {
                $("#reservationModal").modal("hide");
                console.log("reservation effectuee...." + result);
                location.reload();
            }
        });
    }

    $('#reservationModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var topoId = button.data('topoid'); // Extract info from data-* attributes
        var topoTitle = button.data('topotitle');
        var modal = $(this);
        modal.find('.modal-title').text(topoTitle);
        modal.find('.modal-body input').val(topoId)
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    var countries;
    $.ajax({
        url: "sujetTopo", success: function (result) {
            console.log(result);
            countries = result;
            autocompleteIfContains(document.getElementById("titre"), countries);
        }
    });
    var siteNames;
    $.ajax({
        url: "nomSite", success: function (result) {
            console.log(result);
            siteNames = result;
            autocompleteIfContains(document.getElementById("site"), siteNames);
        }
    });
</script>


</body>
</html>